* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Classes gerais - Framework*/

/*Classes específicas para o nosso site*/

header.topo-site {
	padding:20px 0;
}

.slider {
	min-height: 600px;
}

.logo {
	font-size: 20px;
	font-family: Verdana;
}

header.topo-site ul li {
	display: inline-block;
	font-size: 17px;
	padding: 0 20px;
	position: relative;
	top: 4px;
}

header.topo-site a {
	text-decoration: none;
}

.slider p {
	font-size: 23px;
	color: white;
	border-bottom: 4px solid white;
	display: inline-block;
	position: relative;
	top: 50%;
	transition: translateY(-50%);
}

.promo {
	padding: 40px 0;
}

/*Quando o tamanho da tela for menor ...*/
@media screen and ( max-width: 768px ) {

	div.w50, div.w33 {
		width: 100%;
	}

	.left, .right, .center {
		margin-bottom: 10px;
		text-align: center;
	}

}

